#showItemMessage {
  width: 86%;
  margin: 0 auto;
}

#itemMesBox {
  margin-top: 35px;
}

#itemMesPic img {
  height: 150px;
}

#buttonPushItemToCart {
  margin: 20px auto;
}

#showItemComments {
  margin-top: 20px;
}

.commentBox {
  background-color: #fdfbb5;
  padding: 7px 25px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 2%;
}
