.item {
  width: 100%;
  padding: 10px;
  margin: 2px 0;
  display: inline-block;
  background-color: #9da0a4;
  border-radius: 5px;
  overflow: hidden;
  zoom: 1;
}

.item a:hover {
  padding: 10px;
  margin: 2px 0;
  display: block;
  background-color: #ffff00;
  overflow: hidden;
  zoom: 1;
}

.itemPicture {
  width: 10%;
  float: left;
  margin: 0 35px;
}

.itemMessage {
  width: 30%;
  float: left;
}

.itemSynopsis {
  float: left;
  display: block;
  width: 52%;
  height: 100px;
}

#items {
  margin: 0 auto;
  display: block;
  height: auto;
  width: 80%;
}

#itemList {
  margin-top: 20px;
  text-align: left;
}
