#top {
  width: 100%;
}

#box {
  width: 80%;
  display: flex;
  color: #000;
  margin-left: 10%;
}

#left_box, #right_box {
  width: 30%;
  padding: 10px 0;
  background-color: #ddffdd;
  text-align: center;
}

#center_box {
  flex: 1;
  padding: 10px 0;
  background-color: #d6e9c6;
  text-align: center;

}

#box a:hover {
  display: block;
  color: #7f7f7f;
}

#left_box, #right_box, #center_box :hover {
  display: block;
}
