#userShoppingCart {
  width: 86%;
  margin: 20px auto;
}

#userShoppingCart #items {
  width: 100%;
}

#userShoppingCart .shoppingCartItem {
  background-color: #cecdb0;
  width: 98%;
  border-radius: 5px;
  font-size: 14px;;
  overflow: hidden;
  zoom: 1;
  margin: 10px 0%;
}

#userShoppingCart .shoppingCartItem img {
  float: left;
  max-width: 100%;
}

#userShoppingCart .ShoppingCartOptions {
  float: right;
}

#userShoppingCart .shoppingCartItem a {
  width: 80%;
  display: inline-block;
  padding: 0 0;
  margin: 0 0;
}

#userShoppingCart .shoppingCartItem a:hover {
  width: 80%;
  margin: 0 0;
  padding: 0 0;
  background-color: initial;
  display: inline-block;
}
