#user-box {
  overflow: hidden;
}

#user_cookie {
  font-size: 20px;
  display: block;
  float: left;
  width: 15%;
  padding-left: 16px;
}

#login-button {
  font-size: 20px;
  display: block;
  float: right;
  width: 10%;
}

#exit-button {
  font-size: 20px;
  display: block;
  float: right;
  width: 10%;
}

#user-box a {
  cursor: pointer;
}
